	  <div class="contentMenu">
            <div class="clear"></div>
            <a href="<%= admin_leads_path%>">
            	<div class="contentCaption">
	        	   <%= image_tag "/assets/admin/icons/back.png", :alt => "Lead Manager"  %>Back to lead manager
            	</div>
            </a>
            <div class="clear"></div>
            <div class="clear"></div>
		</div>
		