= content_for :title, "Compare"
.detail_headings
  .compare_heading_left
    %h1 Compare List
.detail_heading_right
  %a.back_btn{:href => "index.html"} Back to Inventory
  %a.print_btn{:href => "", :onclick => "window.print();return false;"} Print
/ bus name and price ends
#detail_content
/ inventory details start
#compare_specs_area
  / Vehicle specs start
  .compare_specs_panel
    .compare_thumbnail
      %a{:href => "bus-details.html"}
        %img{:alt => "Buses for sale", :height => "87", :src => "images/inventoryImages/bus.jpg", :width => "125"}/
    .compare_item_title
      %a{:href => "bus-details.html"} 2007 Prevost Marathon 1046 XLVII
    .compare_vehicleInfo
      %table.vehicleSpecs{:width => "304"}
        %tr
          %td.vehicleSpecsName{:width => "94"} Year:
          %td{:width => "199"} 2007
        %tr
          %td.vehicleSpecsName Bus Type:
          %td Entertainer Bus
        %tr
          %td.vehicleSpecsName Chassis Make:
          %td Ford
        %tr
          %td.vehicleSpecsName Chassis Model:
          %td E450
        %tr
          %td.vehicleSpecsName Body Make:
          %td Prevost
        %tr
          %td.vehicleSpecsName Body Model:
          %td Marathon 1046 XLVII
        %tr
          %td.vehicleSpecsName Engine:
          %td Allison HT754 Five-speed auto
        %tr
          %td.vehicleSpecsName Mileage:
          %td 45,110 kms
        %tr
          %td.vehicleSpecsName Transmission:
          %td Automatic
        %tr
          %td.vehicleSpecsName{:width => "94"} Location:
          %td{:width => "199"} BC
        %tr
          %td.vehicleSpecsName Fuel Type:
          %td Gas
        %tr
          %td.vehicleSpecsName Passangers:
          %td 48
        %tr
          %td.vehicleSpecsName Vehicle Length:
          %td 186 Feet
        %tr
          %td.vehicleSpecsName Exterior Color:
          %td Black
        %tr
          %td.vehicleSpecsName Interior Color:
          %td Brown
        %tr
          %td.vehicleSpecsName Luggage:
          %td Yes
        %tr
          %td.vehicleSpecsName Wheelchair Lift:
          %td No
        %tr
          %td.vehicleSpecsName Warranty:
          %td No
  .compare_specs_panel
    .compare_thumbnail
      %a{:href => "bus-details.html"}
        %img{:alt => "Buses for sale", :height => "87", :src => "images/inventoryImages/bus.jpg", :width => "125"}/
    .compare_item_title
      %a{:href => "bus-details.html"} 2007 Prevost Marathon 1046 XLVII
    .compare_vehicleInfo
      %table.vehicleSpecs{:width => "304"}
        %tr
          %td.vehicleSpecsName{:width => "94"} Year:
          %td{:width => "199"} 2007
        %tr
          %td.vehicleSpecsName Bus Type:
          %td Entertainer Bus
        %tr
          %td.vehicleSpecsName Chassis Make:
          %td Ford
        %tr
          %td.vehicleSpecsName Chassis Model:
          %td E450
        %tr
          %td.vehicleSpecsName Body Make:
          %td Prevost
        %tr
          %td.vehicleSpecsName Body Model:
          %td Marathon 1046 XLVII
        %tr
          %td.vehicleSpecsName Engine:
          %td Allison HT754 Five-speed auto
        %tr
          %td.vehicleSpecsName Mileage:
          %td 45,110 kms
        %tr
          %td.vehicleSpecsName Transmission:
          %td Automatic
        %tr
          %td.vehicleSpecsName{:width => "94"} Location:
          %td{:width => "199"} BC
        %tr
          %td.vehicleSpecsName Fuel Type:
          %td Gas
        %tr
          %td.vehicleSpecsName Passangers:
          %td 48
        %tr
          %td.vehicleSpecsName Vehicle Length:
          %td 186 Feet
        %tr
          %td.vehicleSpecsName Exterior Color:
          %td Black
        %tr
          %td.vehicleSpecsName Interior Color:
          %td Brown
        %tr
          %td.vehicleSpecsName Luggage:
          %td Yes
        %tr
          %td.vehicleSpecsName Wheelchair Lift:
          %td No
        %tr
          %td.vehicleSpecsName Warranty:
          %td No
  .compare_specs_panel
    .compare_thumbnail
      %a{:href => "bus-details.html"}
        %img{:alt => "Buses for sale", :height => "87", :src => "images/inventoryImages/bus.jpg", :width => "125"}/
    .compare_item_title
      %a{:href => "bus-details.html"} 2007 Prevost Marathon 1046 XLVII
    .compare_vehicleInfo
      %table.vehicleSpecs{:width => "304"}
        %tr
          %td.vehicleSpecsName{:width => "94"} Year:
          %td{:width => "199"} 2007
        %tr
          %td.vehicleSpecsName Bus Type:
          %td Entertainer Bus
        %tr
          %td.vehicleSpecsName Chassis Make:
          %td Ford
        %tr
          %td.vehicleSpecsName Chassis Model:
          %td E450
        %tr
          %td.vehicleSpecsName Body Make:
          %td Prevost
        %tr
          %td.vehicleSpecsName Body Model:
          %td Marathon 1046 XLVII
        %tr
          %td.vehicleSpecsName Engine:
          %td Allison HT754 Five-speed auto
        %tr
          %td.vehicleSpecsName Mileage:
          %td 45,110 kms
        %tr
          %td.vehicleSpecsName Transmission:
          %td Automatic
        %tr
          %td.vehicleSpecsName{:width => "94"} Location:
          %td{:width => "199"} BC
        %tr
          %td.vehicleSpecsName Fuel Type:
          %td Gas
        %tr
          %td.vehicleSpecsName Passangers:
          %td 48
        %tr
          %td.vehicleSpecsName Vehicle Length:
          %td 186 Feet
        %tr
          %td.vehicleSpecsName Exterior Color:
          %td Black
        %tr
          %td.vehicleSpecsName Interior Color:
          %td Brown
        %tr
          %td.vehicleSpecsName Luggage:
          %td Yes
        %tr
          %td.vehicleSpecsName Wheelchair Lift:
          %td No
        %tr
          %td.vehicleSpecsName Warranty:
          %td No
  .compare_specs_panel
    .compare_thumbnail
      %a{:href => "bus-details.html"}
        %img{:alt => "Buses for sale", :height => "87", :src => "images/inventoryImages/bus.jpg", :width => "125"}/
    .compare_item_title
      %a{:href => "bus-details.html"} 2007 Prevost Marathon 1046 XLVII
    .compare_vehicleInfo
      %table.vehicleSpecs{:width => "304"}
        %tr
          %td.vehicleSpecsName{:width => "94"} Year:
          %td{:width => "199"} 2007
        %tr
          %td.vehicleSpecsName Bus Type:
          %td Entertainer Bus
        %tr
          %td.vehicleSpecsName Chassis Make:
          %td Ford
        %tr
          %td.vehicleSpecsName Chassis Model:
          %td E450
        %tr
          %td.vehicleSpecsName Body Make:
          %td Prevost
        %tr
          %td.vehicleSpecsName Body Model:
          %td Marathon 1046 XLVII
        %tr
          %td.vehicleSpecsName Engine:
          %td Allison HT754 Five-speed auto
        %tr
          %td.vehicleSpecsName Mileage:
          %td 45,110 kms
        %tr
          %td.vehicleSpecsName Transmission:
          %td Automatic
        %tr
          %td.vehicleSpecsName{:width => "94"} Location:
          %td{:width => "199"} BC
        %tr
          %td.vehicleSpecsName Fuel Type:
          %td Gas
        %tr
          %td.vehicleSpecsName Passangers:
          %td 48
        %tr
          %td.vehicleSpecsName Vehicle Length:
          %td 186 Feet
        %tr
          %td.vehicleSpecsName Exterior Color:
          %td Black
        %tr
          %td.vehicleSpecsName Interior Color:
          %td Brown
        %tr
          %td.vehicleSpecsName Luggage:
          %td Yes
        %tr
          %td.vehicleSpecsName Wheelchair Lift:
          %td No
        %tr
          %td.vehicleSpecsName Warranty:
          %td No
  .compare_specs_panel
    .compare_thumbnail
      %a{:href => "bus-details.html"}
        %img{:alt => "Buses for sale", :height => "87", :src => "images/inventoryImages/bus.jpg", :width => "125"}/
    .compare_item_title
      %a{:href => "bus-details.html"} 2007 Prevost Marathon 1046 XLVII
    .compare_vehicleInfo
      %table.vehicleSpecs{:width => "304"}
        %tr
          %td.vehicleSpecsName{:width => "94"} Year:
          %td{:width => "199"} 2007
        %tr
          %td.vehicleSpecsName Bus Type:
          %td Entertainer Bus
        %tr
          %td.vehicleSpecsName Chassis Make:
          %td Ford
        %tr
          %td.vehicleSpecsName Chassis Model:
          %td E450
        %tr
          %td.vehicleSpecsName Body Make:
          %td Prevost
        %tr
          %td.vehicleSpecsName Body Model:
          %td Marathon 1046 XLVII
        %tr
          %td.vehicleSpecsName Engine:
          %td Allison HT754 Five-speed auto
        %tr
          %td.vehicleSpecsName Mileage:
          %td 45,110 kms
        %tr
          %td.vehicleSpecsName Transmission:
          %td Automatic
        %tr
          %td.vehicleSpecsName{:width => "94"} Location:
          %td{:width => "199"} BC
        %tr
          %td.vehicleSpecsName Fuel Type:
          %td Gas
        %tr
          %td.vehicleSpecsName Passangers:
          %td 48
        %tr
          %td.vehicleSpecsName Vehicle Length:
          %td 186 Feet
        %tr
          %td.vehicleSpecsName Exterior Color:
          %td Black
        %tr
          %td.vehicleSpecsName Interior Color:
          %td Brown
        %tr
          %td.vehicleSpecsName Luggage:
          %td Yes
        %tr
          %td.vehicleSpecsName Wheelchair Lift:
          %td No
        %tr
          %td.vehicleSpecsName Warranty:
          %td No
  .compare_specs_panel
    .compare_thumbnail
      %a{:href => "bus-details.html"}
        %img{:alt => "Buses for sale", :height => "87", :src => "images/inventoryImages/bus.jpg", :width => "125"}/
    .compare_item_title
      %a{:href => "bus-details.html"} 2007 Prevost Marathon 1046 XLVII
    .compare_vehicleInfo
      %table.vehicleSpecs{:width => "304"}
        %tr
          %td.vehicleSpecsName{:width => "94"} Year:
          %td{:width => "199"} 2007
        %tr
          %td.vehicleSpecsName Bus Type:
          %td Entertainer Bus
        %tr
          %td.vehicleSpecsName Chassis Make:
          %td Ford
        %tr
          %td.vehicleSpecsName Chassis Model:
          %td E450
        %tr
          %td.vehicleSpecsName Body Make:
          %td Prevost
        %tr
          %td.vehicleSpecsName Body Model:
          %td Marathon 1046 XLVII
        %tr
          %td.vehicleSpecsName Engine:
          %td Allison HT754 Five-speed auto
        %tr
          %td.vehicleSpecsName Mileage:
          %td 45,110 kms
        %tr
          %td.vehicleSpecsName Transmission:
          %td Automatic
        %tr
          %td.vehicleSpecsName{:width => "94"} Location:
          %td{:width => "199"} BC
        %tr
          %td.vehicleSpecsName Fuel Type:
          %td Gas
        %tr
          %td.vehicleSpecsName Passangers:
          %td 48
        %tr
          %td.vehicleSpecsName Vehicle Length:
          %td 186 Feet
        %tr
          %td.vehicleSpecsName Exterior Color:
          %td Black
        %tr
          %td.vehicleSpecsName Interior Color:
          %td Brown
        %tr
          %td.vehicleSpecsName Luggage:
          %td Yes
        %tr
          %td.vehicleSpecsName Wheelchair Lift:
          %td No
        %tr
          %td.vehicleSpecsName Warranty:
          %td No
  / vehicle specs end
/ listing content ends
.clearfooter
/ wrapper ends