<div class="contentMenu">
            <div class="clear"></div>
            <div class="contentCaption"><img src="/assets/admin/icons/busIcon.png" alt="Inventory Listings"/>Dashboard</div>
			<div class="menuIcons">
                <!--<div class="menuIcon"><%= link_to image_tag("/assets/admin/icons/addVehicle.png", :alt => "Add Vehicle"), new_admin_inventory_path %><br/>Add<br/>Vehicle</div>

                <div class="menuIcon"><a href=""><img src="/assets/admin/icons/quickAdd.png" alt="Quick Add"/><br/>Quick<br/>Add</a></div>
                <div class="menuIcon"><a href=""><img src="/assets/admin/icons/quickUpdate.png" alt="Quick Update"/><br/>Quick<br/>Update</a></div>
                <div class="menuIcon"><a href=""><img src="/assets/admin/icons/manageViews.png" alt="Manage Views"/><br/>Manage<br/>Views</a></div>
                <div class="menuIcon"><%= link_to image_tag("/assets/admin/icons/exportToPdf.png", :alt => "Export To PDF"), export_to_pdf_path  %><br/>Export<br/>To PDF</a></div>
                <div class="menuIcon"><%= link_to image_tag("/assets/admin/icons/exportToExcel.png", :alt => "Export to Excel"), export_to_xls_path %><br/>Export<br/>To Excel</a></div>

                <div class="menuIcon"><a href=""><img src="/assets/admin/icons/liveInventory.png" alt="Live Inventory"/><br/>Live<br/>Inventory</a></div>
                <div class="menuIcon"><%= link_to image_tag("/assets/admin/icons/soldInventory.png", :alt => "Sold Inventory"), admin_sold_inventory_index_path %><br/>Sold<br/>Inventory</a></div>
                <div class="menuIcon"><a href=""><img src="/assets/admin/icons/downloadImages.png" alt="Download Images"/><br/>Download<br/>Images</a></div>
                <div class="menuIcon"><a href=""><img src="/assets/admin/icons/delete.png" alt="Delete"/><br/>Delete</a></div>
                <div class="clear"></div>-->

            </div>
            <div class="clear"></div>
</div>