<% content_for :title, "About Us" %>

<!-- page start -->
<div class="pageContainer" id="aboutContainer">
  <div class="pageContent">
   <!-- box start -->
    <div class="box">
    
      <div class="aboutBox">
        <div class="aboutBoxTop"></div>
        <div class="aboutBoxContent"> 
        <img src="/assets/aboutBoxIcon1.png" alt="" class="aboutBoxIcon"/>
       <div class="aboutBoxInfo">
        <h2 class="aboutBoxTitle">Find a Bus For Sale</h2>
        <h2>Sell the Bus You Have</h2>
        <h3>All Right Here</h3><br/><br /><br /><br /><br />
        <a href="" class="aboutBoxBtn"><img src="/assets/learnMoreBtn.png" alt="" /></a>
        </div>
        </div>
        <div class="aboutBoxBottom"></div>
      </div>
      
      <div class="aboutBox aboutBoxRight">
        <div class="aboutBoxTop"></div>
        <div class="aboutBoxContent"> 
        <img src="/assets/aboutBoxIcon2.png" alt="" class="aboutBoxIcon"/>
       <div class="aboutBoxInfo">
        <h2 class="aboutBoxTitle">Quick &amp; Effective</h2>
        <h3>Search Solutions</h3>
        <p>Find what your looking for quick and easy just follow our simple to use 2 step search process. </p>
        <a href="" class="aboutBoxBtn"><img src="/assets/learnMoreBtn.png" alt="" /></a>
        </div>
        </div>
        <div class="aboutBoxBottom"></div>
      </div>
      
    </div>
    <!-- box end -->
     <!-- box start -->
     <div class="box">
     <div class="aboutBoxLargeTop"></div>
     <div class="aboutBoxLargeContent">
     <h3 class="customTitle1">Buses For Sale: Find Your Bus Quick & Easy</h3>
     <div class="aboutBoxLargeText">
     <p>Shop Buses.com has set out to revolutionize the way you purchase your buses! With a long standing history in both the bus and automotive industry we have designed our site from the ground up using the latest in web technology from the automotive world and designed it specifically with the unique traits of the bus business in mind. We have worked long and hard to develop a site that fits the needs of our customers to create the most comprehensive and easily searchable bus site on the web! Our unique search engine allows you to quickly and efficiently locate buses that meet your exact needs with a few simple clicks. Don’t get bogged down searching through hundreds of listings ever again trying to find that right bus! Shop Buses.com is bringing the bus industry into the 21st century…come along for the ride!
</p></div>
     </div>
     <div class="aboutBoxLargeBottom"></div>
     </div>
      <!-- box end -->
  </div>
</div>
<!-- page end -->