<% content_for :title, "Services" %>
<!-- page start -->
<div class="pageContainer" id="servicesContainer">
  <div class="pageContent">
    <!-- services item start -->
    <div class="box servicesItem"> <img src="assets/financingIcon.png" alt="" class="servicesIcon" />
      <div class="boxLargeTop"></div>
      <div class="servicesBox">
        <div class="servicesContent servicesShort">

          <h3 class="customTitle1">Shop Buses.com Financing Options</h3>
          <p>System2 Buses has partnered with a number of financial lenders who specialize in both commercial leasing and financing to better serve our customer. Our lenders offer competitive fixed rates for fleets large or small. Please ask your sales representative should you wish to explore your financing options, we would be more than happy to assist!</p>
        </div>
        <img src="assets/servicesFinancing.jpg" alt="" class="servicesShortImage"/> </div>
      <div class="boxLargeBottom"></div>
    </div>
    <!-- services item end -->

    <!-- services item start -->
    <div class="box servicesItem"> <img src="assets/deliveryIcon.png" alt="" class="servicesIcon" />
      <div class="boxLargeTop"></div>
      <div class="servicesBox">
        <div class="servicesContent servicesShort">
          <h3 class="customTitle1">Delivery</h3>
          <p>Whether you are buying a bus close to home, or on the other side of the country, the thought arranging transportation can often cause headaches. System2 Buses can arrange and facilitate all of your vehicle relocation requirements anywhere in North America and beyond! Our carriers are all fully insured and bonded so you can rest easy that your investment will be in good hands!</p>

        </div>
        <img src="assets/servicesFinancing.jpg" alt="" class="servicesShortImage"/> </div>
      <div class="boxLargeBottom"></div>
    </div>
    <!-- services item end -->
    <!-- services item start -->
    <div class="box servicesItem"> <img src="assets/optionsIcon.png" alt="" class="servicesIcon" />
      <div class="boxLargeTop"></div>

      <div class="servicesBox">
        <div class="servicesContent">
          <h3 class="customTitle1">Custom Options</h3>
          <p>Finding a used bus to suit your needs isn’t always easy. Although System2 Buses offers the most comprehensive and easily searchable inventory online we do understand that some of our customer have very specific requirements to meet their fleets needs. Please do not overlook any vehicle on our inventory list that may be shy on a couple options you require as System2 Buses has you covered! We can look after outfitting any of the vehicles listed on our site with any number of custom touches you may require including but not limited to:</p>
          <p>Entertainment/DVD<br>
            Audio Systems/Upgrades<br>
            Navigation Systems<br>

            Rear View Cameras<br>
            Security/Closed Circuit Surveillance<br>
            Remote Start <br>
            GPS/Vehicle Tracing<br>
            Luggage Compartments/Racks<br>
            Custom Seating<br>

            Seat Belts</p>
        </div>
        <img src="assets/servicesLongIconsBg.jpg" alt="" class="servicesLongIcons" /> </div>
      <div class="boxLargeBottom"></div>
    </div>
    <!-- services item end -->
    <!-- services item start -->
    <div class="box servicesItem"> <img src="assets/brokeringIcon.png" alt="" class="servicesIcon" />

      <div class="boxLargeTop"></div>
      <div class="servicesBox">
        <div class="servicesContent servicesShort">
          <h3 class="customTitle1">Brokering</h3>
          <p>Have a bus to sell?</p>
          <p> System2 Buses understands your time is valuable. Your days are spent managing your fleet, servicing your customers and generating revenue. When it comes time to refresh your fleet and sell off some units trust this job to us! Don’t worry about advertising, fielding perspective buyers, taking phone calls, discussing specifications and financing options. Stick to what you know best…running your fleet. Let the professionals at System2 Buses take the load off your shoulders. We understand how valuable your time is…..do you? </p>
        </div>

        <img src="assets/servicesDelivery.jpg" alt="" class="servicesShortImage"/> </div>
      <div class="boxLargeBottom"></div>
    </div>
    <!-- services item end -->
  </div>
</div>
<!-- page end -->